<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://github.com/orgs/Team7-dev/dashboard" target="_blank">
                        Quem somos
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;{{test | date: 'yyyy'}}, Criado por <a href="https://github.com/orgs/Team7-dev/dashboard" target="_blank">Team7-dev</a>.
        </div>
    </div>
</footer>
