<div class="row">

    <div class="offset-md-4 col-md-4 offset-2 col-8">

        <form class="form-signin mt-3" name="loginForm">

            <h1 class="h3 mb-3 font-weight-normal text-center">Forneça seus dados</h1>

            <mat-form-field>
                <mat-label for="inputUsuario">Usuário</mat-label>
                <input [(ngModel)]="usuario.usuario" id="inputUsuario" matInput name="inputUsuario" required
                       type="user">
            </mat-form-field>

            <mat-form-field>
                <mat-label for="inputSenha">Senha</mat-label>
                <input [(ngModel)]="usuario.senha" id="inputSenha" matInput name="inputSenha" required type="password">
            </mat-form-field>

            <div class="form-group text-center">
                <button (click)="login()" class="btn-primary w-50" mat-raised-button type="submit" [disabled]="!(usuario.usuario && usuario.senha)">
                    Entrar
                </button>
            </div>

        </form>

    </div>

</div>
