<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="http://localhost:4200/#/correspondencia">
                <b>SetApp - Soluções Condominiais </b>
            </a>
        </div>
        <button (click)="sidebarToggle()" class="navbar-toggler" mat-raised-button type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a [matMenuTriggerFor]="menu" class="nav-link" href="javascript:void(0)">
                        <i class="material-icons">person</i>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                        <mat-menu #menu="matMenu">
                            <button (click)="logout()" mat-menu-item>Logout</button>
                        </mat-menu>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
