<div class="main-content">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">

                <div class="col-md-3 pull-right">
                    <button (click)="cadastrarUnidade()" class="btn-outline-info w-100" mat-raised-button>
                        <mat-icon>apartment</mat-icon>
                        Cadastrar Unidade
                    </button>
                </div>

            </div>

            <div class="col-md-12">

                <div class="card">

                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Listar Unidades</h4>
                    </div>

                    <div class="card-body">

                        <div class="table-responsive">

                            <mat-form-field>
                                <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                            </mat-form-field>

                            <table [dataSource]="dataSource" class="table" mat-table>

                                <ng-container matColumnDef="id">
                                    <th *matHeaderCellDef class="text-center" mat-header-cell>ID</th>
                                    <td *matCellDef="let element" mat-cell> {{element.id}} </td>
                                </ng-container>

                                <ng-container matColumnDef="bloco">
                                    <th *matHeaderCellDef class="text-center" mat-header-cell>Bloco</th>
                                    <td *matCellDef="let element" mat-cell> {{element.bloco}} </td>
                                </ng-container>

                                <ng-container matColumnDef="apartamento">
                                    <th *matHeaderCellDef class="text-center" mat-header-cell>Apartamento</th>
                                    <td *matCellDef="let element" mat-cell> {{element.numero}} </td>
                                </ng-container>

                                <ng-container matColumnDef="situacao">
                                    <th *matHeaderCellDef class="text-center" mat-header-cell>Situação</th>
                                    <td *matCellDef="let element" mat-cell> {{element.situacao}} </td>
                                </ng-container>

                                <ng-container matColumnDef="acoes">
                                    <th *matHeaderCellDef class="text-center" mat-header-cell>Ações</th>
                                    <td *matCellDef="let element" mat-cell>
                                        <button (click)="detalharUnidade(element)" class="text-info" mat-icon-button
                                                matTooltip="Detalhar">
                                            <i class="material-icons">list</i>
                                        </button>
                                        <button (click)="editarUnidade(element)" class="text-warning" mat-icon-button
                                                matTooltip="Editar">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button (click)="confirmarDelecaoUnidade(element)" class="text-danger"
                                                mat-icon-button matTooltip="Excluir">
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
