<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button class="btn-outline-info" mat-raised-button routerLink="/usuario">
                    <i class="material-icons">keyboard_arrow_left</i>
                    Voltar
                </button>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Detalhar Usuário</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <span class="text-primary">ID: </span> {{usuario.id}}
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <span class="text-primary">Nome: </span> {{usuario.nome}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="text-primary">Data do cadastro: </span> {{usuario.dataHoraCadastro | date: 'dd/MM/yyyy HH:mm:ss'}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="text-primary">CPF: </span> {{usuario.cpf}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="text-primary">E-mail: </span> {{usuario.email}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="text-primary">Perfil: </span> {{usuario.perfil.perfil}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="text-primary">Situação: </span> {{usuario.situacao}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
