<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Listar Emergências</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                            <mat-icon>local_hospital</mat-icon>
                                <span class="text-primary">Primeiros Socorros: </span> <b>193</b>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-icon>local_taxi</mat-icon>
                                <span class="text-primary">  Ocorrências Policiais: </span> <b>190</b>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-icon>terrain</mat-icon>
                                <span class="text-primary">  Ocorrências de Defesa Civil: </span> <b>199</b>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-icon>local_phone</mat-icon>
                                <span class="text-primary">  Ligações de emergências de estrangeiros dos Estados Unidos no DF: </span> <b>911</b>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-icon>local_phone</mat-icon>
                                <span class="text-primary">  Ligações de emergências de estrangeiros da Europa no DF: </span> <b>112</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
